body{
     background-color: #eeeeee;
     line-height: 1.6em;
}

#header{
    text-align: center;
    place-items: center;
}

#footer{
    text-align: center;
}

a{
    text-decoration: none;
    color: #32e0c4
}
a:hover{
   color: #393e46 
}

.container{
    width: 80%;
    margin: auto;
    
}

.para{
    color: #222831;
    font-family: 'Ubuntu', sans-derif, Arial, Helvetica, sans-serif;
}

.head{
    color: #32e0c4;
    font-family: 'Lora', serif, 'Ubuntu', sans-derif, Arial, Helvetica, sans-serif;
}

.list{
     border: 3px #393e46 solid;
     padding: 10px;
     border-radius: 15px;
    
}

.list ul{
      list-style: square;
}

.list li{
      padding-bottom: 6px;

}